.style-test {
  background-color: brown;
  padding: auto;
  border-top: 1px;
  border-width: 10px;
  border-color: white;
}

.change-background {
  background-color: white;
  height: auto;
  width: auto;
}

.mi-estilo-personalizado {
  color: #FFF;
}

.mi-estilo1 {
  background-color: #000;
  color: #FFF;
}

.mi-estilo2 {
  color: red;
}
